#siscreen {
  background-color: burlywood;
  height: 2500;
  width: 1000;
  display: none;
}

#title {
  text-align: center;
  background-color: cornsilk;
  border: 3px bisque solid;
  border-radius: 20px;
  width: 750;
}

.si {
  display: block;
}